@use 'src/base.scss';

.current-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		font-weight: 800;
		font-size: 2.3rem;
		margin: 0;
		@include base.main-text;
		@include base.devices(mobile) {
			font-size: 1.5rem;
		}
	}

	img {
		width: 200px;
		height: auto;
		@include base.devices(mobile) {
			width: 100px;
		}
	}
}
