@use 'src/base.scss';

.tempCard-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 100px;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
		rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
		rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
	@include base.devices(mobile) {
		width: 60px;
	}

	img {
		width: 50px;
		height: auto;
		@include base.devices(mobile) {
			width: 45px;
		}
	}

	p {
		@include base.main-text;
		font-size: 0.8rem;
		margin: 0px;
		text-align: center;
	}
}
