@use 'src/base.scss';

.search-container {
	width: 100%;
	height: 300px;
	background-image: url('../../assets/nature.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;

	&__items {
		@include base.viewport;
		margin-top: 100px;
		:nth-child(1) {
			@include base.text-dark(lg);
		}
		:nth-child(2) {
			@include base.text-dark(md);
		}

		p {
			margin: 0;
		}

		button {
			@include base.text-dark(sm_2);
			margin-top: 20px;
			width: 80px;
			height: 40px;
			background: rgba(255, 255, 255, 0.1);
			border: none;
			transition: all 0.3s ease;
			cursor: pointer;

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
			&:active {
				background: rgba(255, 255, 255, 0.3);
			}
		}
	}
}
